---
import Layout from '../layouts/Layout.astro';

export const prerender = false;

const uuid = crypto.randomUUID();

const tempEmail = uuid+"@donotshow.me"
---

<Layout>
  <main class="min-h-screen bg-base-200 flex items-center justify-center p-4">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-primary">Your Temporary Email</h2>
        <div class="divider"></div>
        <div class="bg-base-200 rounded-lg p-4">
          <p class="break-all md:break-normal overflow-wrap-anywhere">{tempEmail}</p>
        </div>
        <div class="card-actions justify-end mt-4 gap-2">
          <button
            class="btn btn-primary"
            id="copyBtn"
            data-email={uuid}
          >
            Use Email
          </button>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
	const copyBtn = document.getElementById('copyBtn');

	copyBtn?.addEventListener('click', async () => {
		const email = copyBtn.getAttribute('data-email');
		if (email) {
			await navigator.clipboard.writeText(email+"@donotshow.me");
			window.location.href = `/email/${email}`;
		}
	});
</script>
