---
import Layout from '../../layouts/Layout.astro';

export const prerender = false;

const { uuid } = Astro.params;

const tempEmail = uuid+"@donotshow.me"
---
<Layout>
    <main class="min-h-screen bg-base-200 flex flex-col items-center p-4 md:p-8 gap-6">
        <div id="toast" class="toast toast-top toast-center z-50">
            <div class="alert alert-success hidden" id="toastMessage">
                <span>Copied to clipboard!</span>
            </div>
        </div>
        
        <div class="w-full max-w-3xl lg:max-w-5xl xl:max-w-6xl mx-auto">
            <h1 class="text-center text-base md:text-lg font-bold bg-slate-500 rounded-md p-3 break-all">{tempEmail}</h1>
            <div class="my-4 text-center">
                <button 
                    class="btn btn-primary" 
                    hx-get={`/api/${uuid}`} 
                    hx-trigger="click, every 5s"
                    hx-target="#email-content" 
                    hx-swap="innerHTML">
                    Refresh
                </button>
                <button
                    class="btn btn-primary"
                    id="copyBtn"
                    data-email={tempEmail}>
                    Copy
                </button>
            </div>

            <div id="email-content" class="w-full ">
                <div class="mt-2 text-sm opacity-50 text-center">
                    Refreshes: <span id="refreshCount">0</span>
                </div>

            </div>

            <script>
                let refreshCount = 0;
                document.body.addEventListener('htmx:afterRequest', function(evt) {
                    if (evt.detail.target.id === 'email-content') {
                        refreshCount++;
                        const refreshElement = document.getElementById('refreshCount');
                        if (refreshElement) {
                            refreshElement.textContent = refreshCount.toString();
                        }
                    }
                });
            </script>
            </div>
        </div>
    </main>
</Layout>


<script>
	const copyBtn = document.getElementById('copyBtn');
	const toast = document.getElementById('toastMessage');

	copyBtn?.addEventListener('click', async () => {
		const email = copyBtn.getAttribute('data-email');
		if (email) {
			await navigator.clipboard.writeText(email);
			
			if (toast) {
				toast.classList.remove('hidden');
				
				setTimeout(() => {
					toast.classList.add('hidden');
				}, 1000);
			}
		}
	});
</script>